{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<meta name="description" content="Responsive Admin Template" />
	<meta name="author" content="SmartUniversity" />
	<title>{% block title %} {% endblock %}</title>
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
	<!-- icons -->
	<link href="{% static 'dashboard/fonts/simple-line-icons/simple-line-icons.min.css'%}" rel="stylesheet" type="text/css" />
	<link href="{% static 'dashboard/fonts/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css" />
	<link href="{% static 'dashboard/fonts/font-awesome/v6/css/all.css'%}" rel="stylesheet" type="text/css" />
	<link href="{% static 'dashboard/fonts/material-design-icons/material-icon.css'%}" rel="stylesheet" type="text/css" />
	<!--bootstrap -->
	<link href="{% static 'dashboard/plugins/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
	<link href="{% static 'dashboard/plugins/summernote/summernote.css'%}" rel="stylesheet">
	<!-- Material Design Lite CSS -->
	<link rel="stylesheet" href="{% static 'dashboard/plugins/material/material.min.css'%}">
	<link rel="stylesheet" href="{% static 'dashboard/css/material_style.css'%}">
	<!-- inbox style -->
	<link href="{% static 'dashboard/css/pages/inbox.min.css'%}" rel="stylesheet" type="text/css" />
	<!-- Theme Styles -->
	<link href="{% static 'dashboard/css/theme/light/theme_style.css'%}" rel="stylesheet" id="rt_style_components" type="text/css" />
	<link href="{% static 'dashboard/css/plugins.min.css'%}" rel="stylesheet" type="text/css" />
	<link href="{% static 'dashboard/css/theme/light/style.css'%}" rel="stylesheet" type="text/css" />
	<link href="{% static 'dashboard/css/responsive.css'%}" rel="stylesheet" type="text/css" />
	<link href="{% static 'dashboard/css/theme/light/theme-color.css'%}" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="{% static 'dashboard/plugins/flatpicker/css/flatpickr.min.css'%}">
	<!-- favicon -->
	<link rel="shortcut icon" href="https://www.einfosoft.com/templates/admin/smart/source/assets/img/favicon.ico" />
     {% block css %} 
 
     {% endblock %}
</head>
<!-- END HEAD -->

<body 

class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo">
	<div class="page-wrapper">
		<!-- start header -->
		<div class="page-header navbar navbar-fixed-top">
			<div class="page-header-inner ">
				<!-- logo start -->
				<div class="page-logo">
					<a href="{% url 'Qr:Inicio' %}">						
						<span class="logo-icon material-icons fa-rotate-45">school</span>
						<span class="logo-default" id="name">GARITA </span> </a>
				</div>
				<!-- logo end -->
				<ul class="nav navbar-nav navbar-left in">
					<li><a href="#" class="menu-toggler sidebar-toggler"><i data-feather="menu"></i></a></li>
				</ul>
		 
				<!-- start mobile menu -->
				<a class="menu-toggler responsive-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
					<span></span>
				</a>
				<!-- end mobile menu -->
				<!-- start header menu -->
				<div class="top-menu">
					<ul class="nav navbar-nav pull-right">
						<li><a class="fullscreen-btn"><i data-feather="maximize"></i></a></li>
						 
						<li class="dropdown dropdown-user">
							<a class="dropdown-toggle" data-bs-toggle="dropdown" data-hover="dropdown"
								data-close-others="true">
								<img alt="" class="img-circle " src=" " />
								<span class="username username-hide-on-mobile"> {{ user.username }} 
							</a>
							<ul class="dropdown-menu dropdown-menu-default">					 
								<li>
									<a href="{% url 'Qr:Logout' %}">
										<i class="icon-logout"></i>Salir</a>
								</li>
							</ul>
						</li>
						 
					</ul>
				</div>
			</div>
		</div>
		<!-- end header -->
		<!-- start color quick setting -->
		 
		<!-- end color quick setting -->
		<!-- start page container -->
		<div class="page-container">
			<!-- start sidebar menu -->
			<div class="sidebar-container">
				<div class="sidemenu-container navbar-collapse collapse fixed-menu">
					<div id="remove-scroll" class="left-sidemenu">
						<ul class="sidemenu  page-header-fixed slimscroll-style" data-keep-expanded="false"
							data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
							<li class="sidebar-toggler-wrapper hide">
								<div class="sidebar-toggler">
									<span></span>
								</div>
							</li>
							<li class="sidebar-user-panel">
								<div class="sidebar-user">
									<div class="sidebar-user-picture">
										<img alt="image" src="/media/user_admin.png">
									</div>
									<div class="sidebar-user-details">
										<div class="user-name">{{ user.first_name }} {{ user.last_name }}</div>
										{% if user.is_superuser %}
										<div class="user-role">Administrador</div>
										{% endif %}	
									</div>
								</div>
							</li> 
							<li class="nav-item">
								<a href="{% url 'Qr:Dashboard' %}" class="nav-link nav-toggle"> <i data-feather="airplay"></i>
									<span class="title">Dashboard</span>
								</a>
							</li> 
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"><i data-feather="users"></i>
									<span class="title">Usuario</span><span class="arrow"></span></a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="{% url 'Qr:ListUser' %}" class="nav-link "> <span class="title">Todos los Usuarios</span>
										</a>
									</li> 
								</ul>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"><i data-feather="book"></i>
									<span class="title">Bitacora Electronica</span><span class="arrow"></span></a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="{% url 'Qr:ListRegistro' %}" class="nav-link "> <span class="title">Unemi</span>
										</a>
									</li> 
									<li class="nav-item">
										<a href="{% url 'Qr:ListInvitado' %}" class="nav-link "> <span class="title">Visitante</span>
										</a>
									</li> 
								</ul>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"><i data-feather="book"></i>
									<span class="title">Consultas</span><span class="arrow"></span></a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="{% url 'Qr:Informe' %}" class="nav-link "> <span class="title">Informe</span>
										</a>
									</li> 
									<li class="nav-item">
										<a href="{% url 'Qr:Email' %}" class="nav-link "> <span class="title">Correo</span>
										</a>
									</li> 
								</ul>
							</li>
							 
						</ul>
					</div>
				</div>
			</div>
			<!-- end sidebar menu -->
			<!-- start page content -->
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="page-bar">
            {% block contentheader %}   
						 
            {% endblock %}
					</div>

          {% block content %} 

          {% endblock %} 				 

				</div>
			</div>
			 
		</div>
		<!-- end page container -->
		<!-- start footer -->
		<div class="page-footer">
			<div class="page-footer-inner">  SISTEMA DE GARITA ELECTRONICA UNEMI &copy;  
			</div>
			<div class="scroll-to-top">
				<i class="icon-arrow-up"></i>
			</div>
		</div>
		<!-- end footer -->
	</div>
	<!-- start js include path -->
	<script src="{% static 'dashboard/plugins/jquery/jquery.min.js'%}"></script>
	<script src="{% static 'dashboard/plugins/popper/popper.js'%}"></script>
	<script src="{% static 'dashboard/plugins/jquery-blockui/jquery.blockui.min.js'%}"></script>
	<script src="{% static 'dashboard/plugins/jquery-slimscroll/jquery.slimscroll.js'%}"></script>
	<script src="{% static 'dashboard/plugins/feather/feather.min.js'%}"></script>
	<!-- bootstrap -->
	<script src="{% static 'dashboard/plugins/bootstrap/js/bootstrap.min.js'%}"></script>
	<script src="{% static 'dashboard/plugins/bootstrap-switch/js/bootstrap-switch.min.js'%}"></script>
	<script src="{% static 'dashboard/plugins/sparkline/jquery.sparkline.js'%}"></script>
	<script src="{% static 'dashboard/js/pages/sparkline/sparkline-data.js'%}"></script>
	<!-- Common js-->
	<script src="{% static 'dashboard/js/app.js'%}"></script>
	<script src="{% static 'dashboard/js/layout.js'%}"></script>
	<script src="{% static 'dashboard/js/theme-color.js'%}"></script>
	<!-- material -->
	<script src="{% static 'dashboard/plugins/material/material.min.js'%}"></script> 
	<!-- summernote -->
	<script src="{% static 'dashboard/plugins/summernote/summernote.js'%}"></script>
	<script src="{% static 'dashboard/js/pages/summernote/summernote-data.js'%}"></script>

	<script src="{% static 'dashboard/js/pages/date-time/date-time.init.js'%}"></script> 
	<script src="{% static 'dashboard/plugins/flatpicker/js/flatpicker.min.js'%}"></script>

	{% include 'message.html' %}

{% block extrajs%}

{% endblock %}

</script>
</body>
 
</html>

